.videoSidebar {
  position: absolute;
  top: 50%;
  right: 5px;
  color: white;
}

.videoSidebar__button {
  padding: 12px 20px;
  text-align: center;
  cursor: pointer;
}

.videoSidebar__button p {
  font-size: 13px;
}
